html{
    
    font-family: "Vollkorn SC", serif;
    color: $color-texto;
    font-size: 62.5%;
    user-select: none;
}
body{
    /*Agrega imagen de fondo al body*/
    background-image:url(../media/fondo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed; 
    background-position: center; 
}
main{
    min-height: 100vh;
}
div{
    font-family: "Vollkorn SC", serif;
    color: $color-texto;
}
ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
h1{
    font-family: "Vollkorn SC", serif;
    color: $color-texto;
}
h2{

    font-family: "Vollkorn SC", serif;
    color: $color-texto;
}
a{
    font-family: "Vollkorn SC", serif;
    text-decoration: none;
    color: $color-texto;
    
}
a:hover{
    color: $color-texto;
}
p{
    font-family: "Vollkorn", serif;
    font-style: italic;
    color: $color-texto;
    font-size: 1.9rem;
    font-weight: normal;
    text-shadow: .8rem .5rem .4rem black;
    text-align: center;
}
img,video{

    border-radius: 1.5rem;
}
span{

    font-weight: bold;
    font-family: "Vollkorn SC", serif;
}