@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;1,400;1,500&display=swap');

$sombra: black;
$sombra-activada: rgb(228, 184, 41);
$color-1: rgb(73, 63, 44);
$color-2: rgba(0, 0, 0, .85);
$color-fondo-header: black;
$color-borde: rgb(180, 180, 180);
$color-borde-boton: black;
$color-texto-input: black;
$color-texto: white;


