.main-catalogo{

    margin: 7rem auto 12rem;
    width: 90%;
    max-width: 900px;

    &>*{

        margin-top: 5rem;
    }
}
th{
    font-family: "Vollkorn", serif;
    font-style: italic;
    font-size: 1.8rem;
    font-weight: bolder;
    text-shadow: .8rem .5rem .4rem $sombra;
    text-align: center;
    padding: 1.5rem;
}
td{
    font-family: "Vollkorn", serif;
    font-style: italic;
    font-size: 1.6rem;
    font-weight: normal;
    text-shadow: .8rem .5rem .4rem $sombra;
    text-align: center;
    padding: 1.5rem;
}

@media screen and (max-width: 768px) {

    .main-catalogo{

        width: 100%;

        .fondo{

            border-right: none;
            border-left: none;
            border-radius: 0px;
        }
    }
    th{

        font-size: 1.7rem;

        padding: .5rem 0rem;
    }
    td{

        font-size: 1.3rem;
        padding: 1rem .5rem;
    }
}